  <h1>Inventory addition form</h1>

    <form [formGroup]="invForm">
       <p>
        <mat-form-field>
            <mat-label class="matlabel">Product Name</mat-label>
             <input matInput type="text" [class.is-invalid]="invForm.get('productname').invalid && 
                                                                         invForm.get('productname').touched" 
                                                                         formControlName="productname">
            <div *ngIf=" invForm.get('productname').invalid && invForm.get('productname').touched">
                <small class="err"> Name is required </small>
            </div>  
         </mat-form-field>                                                       
                                                        
            <mat-form-field> <mat-label>Category</mat-label>
                <input matInput [class.is-invalid]="invForm.get('category').invalid && invForm.get('category').touched" formControlName="category" type="text" class="form-control" placeholder="Category">
                <div *ngIf="invForm.get('category').errors && (invForm.get('category').dirty || invForm.get('category').touched)">
                    <small class="err"> Category is required </small>
                    <small *ngIf="invForm.get('category').errors?.minlength" 
                    class="err">Category must be at least 3 characters</small>
                </div> 
               </mat-form-field>
         </p>  
        
          <p>
            <mat-form-field> <mat-label>Units</mat-label>
                <input matInput [class.is-invalid]="invForm.get('availableunits').invalid && invForm.get('availableunits').touched" formControlName="availableunits" type="text" class="form-control" placeholder="Available Units">
                <div *ngIf="invForm.get('availableunits').errors && (invForm.get('availableunits').dirty || invForm.get('availableunits').touched)">
                    <small class="err"> Units is required </small>    
                    <small *ngIf="invForm.get('availableunits').errors.pattern" 
                        class="err">Number Only<br></small>
                        <small *ngIf="invForm.get('availableunits').errors?.min" 
                        class="err">Available Units must be greater than 0</small>
           
                </div> 
            </mat-form-field>
        
    
            <mat-form-field> <mat-label>Price</mat-label>
                <input matInput [class.is-invalid]="invForm.get('unitprice').invalid && invForm.get('unitprice').touched" formControlName="unitprice" type="text" class="form-control" placeholder="Unit Price">
                <div *ngIf="invForm.get('unitprice').errors && (invForm.get('unitprice').dirty || invForm.get('unitprice').touched)">
                        <small class="err"> Price is required </small>
                                               <small *ngIf="invForm.get('unitprice').errors?.required" class="err">Unitprice is required</small>
                                <small *ngIf="invForm.get('unitprice').errors.pattern" class="err">Number Only<br></small>
                                <small *ngIf="invForm.get('unitprice').errors?.min" class="err">Unitprice must be greater than 0</small>
                  
                </div> 
            </mat-form-field>
        
           </p>
           
           <p>
            <mat-form-field> <mat-label>Tags</mat-label>
                <input matInput type="text" formControlName="tags"></mat-form-field>

          <mat-form-field> <mat-label>Last Updated</mat-label>
        <input matInput [class.is-invalid]="invForm.get('lastupated').invalid && invForm.get('lastupated').touched" formControlName="lastupated" type="text" class="form-control" placeholder="DD--MM--YYYY" placeholder="Last Updated">
        <div *ngIf="invForm.get('lastupated').errors && (invForm.get('lastupated').dirty || invForm.get('lastupated').touched)">
          <small *ngIf="invForm.get('lastupated').errors?.required" class="err">Last Updated is required</small>
          <small *ngIf="invForm.get('lastupated').errors.pattern" class="err">Must follow the pattern DD-MM-YYYY<br></small>
        </div>
      </mat-form-field>
           
      </p>
           
        
      
        <div formGroupName="location">
           <div>
            <mat-form-field><mat-label>Area</mat-label>
                <input matInput type="text" formControlName="area"></mat-form-field>
           </div>   
            <div>
                <mat-form-field> <mat-label>zone</mat-label>
                    <input matInput type="text" formControlName="zone"></mat-form-field>
            </div>
             <div>
                <mat-form-field> <mat-label>Shelf</mat-label>
                    <input matInput type="text" formControlName="shelf"></mat-form-field>
             </div>
             </div>
      
           <div>
            <mat-form-field> <mat-label>Description</mat-label>
                <input matInput [class.is-invalid]="invForm.get('description').invalid && invForm.get('description').touched" formControlName="description" type="text" class="form-control" placeholder="Description">
                <div *ngIf="invForm.get('description').invalid && invForm.get('description').touched">
                  <small *ngIf="invForm.get('description').errors?.required" class="err">Description is required</small>
                  <small *ngIf="invForm.get('description').errors?.minlength" class="err">Description must be at least 20 characters</small>
            </div>    
             </mat-form-field>
           </div> 
        
        
        </form>
    <button mat-raised-button type="submit" [disabled]="!invForm.valid" (click)="setData()">Add</button>
    <button mat-raised-button type="submit" (click)="updateData()">Update</button>
  



